/*-- scss:rules --*/
.reveal .footer {
display: block;
color: white;
background-color: #003459;
position: fixed;
bottom: 0px;
left: 0px;
width: 100%;
padding: 2px;
margin: 0px auto;
text-align: center;
font-size: 18px;
z-index: -1 !important;
}


.reveal .slides {
  margin-left: 0% !important; /* Ajusta este valor según sea necesario */
  margin-right: 0% !important; /* Ajusta este valor según sea necesario */
}

.reveal .slide-menu-button {
display: true !important;
}


.reveal {
  table {
    font-size: min(1.8vw, 18px) !important; // Ajusta la fuente automáticamente sin exceder 18px
    width: 100%;
    table-layout: fixed; // Mantiene el tamaño uniforme de las columnas
    border-collapse: collapse; // Asegura una apariencia limpia
  }

  th, td {
    word-wrap: break-word;
    text-align: left;
    padding: 10px; // Espaciado uniforme
    border: 1px solid #ccc; // Bordes sutiles para mejorar la legibilidad
  }

  th {
    background-color: #f4f4f4; // Fondo para los encabezados
    font-weight: bold;
  }
}



.container{
  display: grid;
  grid-auto-flow: column;
}


.small-text {
  font-size: 30px;
}

.smaller-text {
  font-size: 23px;
}

.even-smaller-text {
  font-size: 20px;
}

